html {
  font-family: Arial, sans-serif;
  font-size: 125%;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

header[role=banner],
main[role=main],
nav[role=navigation],
footer[role=contentinfo] {
  margin-left: auto;
  margin-right: auto;
  max-width: 33rem;
}

header[role=banner] {
  text-align: center;
}

nav[role=navigation] {
  text-align: center;
}

nav[role=navigation] a {
  display: inline-block;
  margin: 0 0.5rem;
}

footer[role=contentinfo] {
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: right;
}

a[href] {
  color: #3344dd;
  text-decoration: none;
}

a[href]:hover,
a[href]:focus,
a[href]:active {
  color: #bb1122;
  text-decoration: underline;
}

a[href]:visited {
  color: #884488;
}

.conspicuous {
  font-style: italic;
  font-weight: bold;
}

.statute li {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.statute dfn {
  font-style: normal;
}

.statutoryHeading {
  font-variant: small-caps;
}

/* Lower-Alpha Numbering */

.statute {
  counter-reset: lowerAlphaStatute;
}

.statute > li {
  list-style: none;
  position: relative;
}

.statute > li:before {
  content: "(" counter(lowerAlphaStatute, lower-alpha) ") ";
  counter-increment: lowerAlphaStatute;
  display: block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

/* Arabic Numbering */

.statute ol[type="1"] {
  counter-reset: arabicStatute;
}

.statute ol[type="1"] > li {
  list-style: none;
  position: relative;
}

.statute ol[type="1"] > li:before {
  content: "(" counter(arabicStatute, arabic) ") ";
  counter-increment: arabicStatute;
  display: block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

/* Uppercase Alpha Numbering */

.statute ol[type="A"] {
  counter-reset: upperStatute;
}

.statute ol[type="A"] > li {
  list-style: none;
  position: relative;
}

.statute ol[type="A"] > li:before {
  content: "(" counter(upperStatute, upper-alpha) ") ";
  counter-increment: upperStatute;
  display: block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

/* Lowercase Roman Numbering */

.statute ol[type="i"] {
  counter-reset: lowerRomanStatute;
}

.statute ol[type="i"] > li {
  list-style: none;
  position: relative;
}

.statute ol[type="i"] > li:before {
  content: "(" counter(lowerRomanStatute, lower-roman) ") ";
  counter-increment: lowerRomanStatute;
  display: block;
  left: -2rem;
  position: absolute;
  user-select: text;
}
